<html>
    <head>
    <link rel="stylesheet" href="./css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap/css/custom.css">
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class='row'>
                    <div class='col'>
                       <h1 class="display-4">All That Matters Web App</h1>
                    <p class="lead">You can get the  Forcast details and news over here</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form>
                            <div class="form-group ">

                                <input type="text" class="form-control" id="exampleInputSearch" aria-describedby="searchHelp"
                                    placeholder="Enter Country">
                        
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        
                              <small id="searchHelp" class="form-text text-muted">Give the Country above related that you need details.</small>
                            

                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">Button</button>
                                    <button class="btn btn-outline-secondary" type="button">Button</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="col">
                        
                    </div>
                </div>

            </div>
        </div>
    <script src="./css/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <script src="./css/bootstrap/js/Bootstrap_tutorial.js"></script>
    </body>
</html>